.sermons-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2.1rem;
  padding: clamp(2rem, 5vw, 8rem);
  padding-top: 22px;
  justify-content: center;
}

.sermon-card {
  flex: 0 0 400px;
  max-width: 400px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.sermon-card .video-wrapper {
  width: 100%;
}

.sermon-details h3 {
  margin-bottom: 0;
}

.sermon-details p {
  margin: 0;
}

.sermon-date {
  opacity: 0.7;
  font-size: 0.9rem;
  margin-bottom: 0.5rem !important;
}
